html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.6;

  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}