code {
  padding: 2px 6px;
  margin: 0;
  background-color: #f7f7f7;
  border-radius: 3px;
  color: black;
  word-wrap: break-word;
}

pre {
  background-color: #f7f7f7;
  padding: 8px;
  display: block;

  code {
    padding: 0;
    word-wrap: normal;
  }
}