code {
  padding: 2px 6px;
  margin: 0;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  color: #d14;
  word-wrap: break-word;
}

pre {
  background-color: #f7f7f7;
  padding: 8px;
  display: block;
  border: 1px solid #e1e1e8;
  border-radius: 3px;

  code {
    color: black;
    padding: 0;
    word-wrap: normal;
    border: 0px none;
  }
}