.highlight {
  overflow: auto;

  margin-bottom: 16px;

  border: 1px solid darken(#f8f8f8, 8%);
  border-radius: 6px;

  pre {
    padding: 10px;
    margin: 0;
  }

  code {
    display: inline-block;
  }
}
