<div class="jt_header">
    <div class="jt_navigation_container">
        <div class="jt_navigation__inner">
            <a class="jt_brand" href="http://www.joomlatools.com/">
                <span class="joomlatools_logo">Joomlatools</span>
            </a>
            <ul class="rm-closed">
                <li class="jt_menu__item" role="menuitem">
                    <a href="http://www.joomlatools.com/extensions">Extensions</a>
                </li>
                <li class="jt_menu__item" role="menuitem">
                    <a href="http://www.joomlatools.com/pricing">Pricing</a>
                </li>
                <li class="jt_menu__item" role="menuitem">
                    <a href="http://blog.joomlatools.com">Blog</a>
                </li>
                <li class="jt_menu__item" role="menuitem">
                    <a href="http://demo.joomlatools.com">Demo</a>
                </li>
                <li class="jt_menu__item" role="menuitem">
                    <a href="http://support.joomlatools.com">Support</a>
                </li>
                <li class="jt_menu__item user user--logged-in" id="user-logged-in" role="menuitem">
                    <a href="http://support.joomlatools.com/dashboard">
                        <span class="gravatar"><img src="" /></span>
                        Account
                    </a>
                </li>
                <li class="jt_menu__item user user--logged-out" id="btn-login" role="menuitem">
                    <a href="http://support.joomlatools.com/login">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</div>
