<div class="jt_header">
    <div class="jt_navigation_container">
        <div class="jt_navigation__inner">
            <a class="jt_brand" href="/">
                <span class="joomlatools_logo">Joomlatools</span>
            </a>
            <ul class="rm-closed">
                {% for post in site.data.pages.pages %}
                {% assign active = nil %}
                {% assign slug = post.title | slugify %}

                {% if page.url contains slug %}
                {% assign active = ' active' %}
                {% endif %}

                <li class="jt_menu__item{{active}}" role="menuitem"><a href="/{{ slug }}.html">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>