{% extends "../layout.html" %}

{% block head %}
    {% parent %}
    {% if progress.current.next and progress.current.next.path %}
    <link rel="next" href="{{ basePath }}/{{ progress.current.next.path|mdLink }}" />
    {% endif %}
    {% if progress.current.prev and progress.current.prev.path %}
    <link rel="prev" href="{{ basePath }}/{{ progress.current.prev.path|mdLink }}" />
    {% endif %}
<link rel="stylesheet" href="http://use.typekit.net/c/96df50/1w;proxima-nova,2,b5x:N:i4,b61:N:i7,b5r:N:n1,b5t:N:n3,b5w:N:n4,bBh:N:n7;proxima-nova-alt,2,S9j:N:i4,S9d:N:i7,S9h:N:n4,S9c:N:n7/d?3bb2a6e53c9684ffdc9a98f41a5b2a62f97c6e2d19ae8171762f36a47b7ae4c15c15262578921b579b40772b17a4eeecbd196d5e41afbde63d066aca0adb6668b3041dcb1bd480ac9835af7a0262b3e6e63c8d629858af7ef7fe3d8800ea88755285b723ce632daa8d9425ed73e43cc241d0f1e654decd26a99bef6b3084bb5074fe9cbb89cd4392dd2e1eb9de20e42e0e2e9f26565e45aa62105f55a5be79697d144a19d6b9a27417ef903139e47ca0fef68be9fc7c58ca6a25b10107d6a34c73963e79a0b2702ffdc2637834bf784bd1fe0d69007cbd45f4021e4d">
{% endblock %}

{% block title %}{{ progress.current.title }} | {{ title }}{% endblock %}
{% block description %}{% if progress.current.level == "0" %}{{ description }}{% endif %}{% endblock %}

{% block content %}
    <div class="jt_header">
        <div class="jt_navigation_container">
            <div class="jt_navigation__inner">
                <a class="jt_brand" href="http://www.joomlatools.com/">
                    <span class="joomlatools_logo">Joomlatools</span>
                </a>
                <ul class="rm-closed">
                    <li class="jt_menu__item" role="menuitem">
                        <a href="http://www.joomlatools.com/extensions">Extensions</a>
                    </li>
                    <li class="jt_menu__item" role="menuitem">
                        <a href="http://www.joomlatools.com/pricing">Pricing</a>
                    </li>
                    <li class="jt_menu__item" role="menuitem">
                        <a href="http://blog.joomlatools.com">Blog</a>
                    </li>
                    <li class="jt_menu__item" role="menuitem">
                        <a href="http://demo.joomlatools.com">Demo</a>
                    </li>
                    <li class="jt_menu__item" role="menuitem">
                        <a href="http://support.joomlatools.com">Support</a>
                    </li>
                    <li class="jt_menu__item user user--logged-in" id="user-logged-in" role="menuitem">
                        <a href="http://support.joomlatools.com/dashboard">
                            <span class="gravatar"><img src="" /></span>
                            Account
                        </a>
                    </li>
                    <li class="jt_menu__item user user--logged-out" id="btn-login" role="menuitem">
                        <a href="http://support.joomlatools.com/login">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        if (document.querySelectorAll) {
            function isUserLoggedIn (data) {
                if (data.item.name) {
                    document.querySelectorAll('li.user--logged-in img')[0].src = data.item.gravatar;
                    localStorage.setItem('gravatar', data.item.gravatar);
                }
                else {
                    var reg = new RegExp('(\\s|^)user-logged-in(\\s|$)');
                    document.body.className = document.body.className.replace(reg,' ');

                    deleteCookie('jt-session');
                    localStorage.removeItem('gravatar');
                }
            }

            function readCookie(name) {
                var nameEQ = name + '=';
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0) === ' ') {
                        c = c.substring(1,c.length);
                    }
                    if (c.indexOf(nameEQ) === 0) {
                        return decodeURIComponent(c.substring(nameEQ.length,c.length));
                    }
                }
                return null;
            }

            function deleteCookie(name) {
                document.cookie = name + '=; domain=.joomlatools.com; path=/; expires=Thu, 01-Jan-70 00:00:01 GMT;';
            }

            /* See if we have both the session and avatar set */
            var session  = readCookie('jt-session');
            var gravatar = localStorage.getItem('gravatar');

            /* If both are set, show the Member Center button */
            if (session) {
                document.body.className += ' user-logged-in';

                if (gravatar && gravatar.substring(0, 15) == 'data:image/png;') {
                    document.querySelectorAll('li.user--logged-in img')[0].src = gravatar;
                }

                /* Always validate the user session in the background. If it expired or user
                 has logged out, we need to update accordingly. */
                var scr = document.createElement('script');
                scr.src = 'http://support.joomlatools.com/data/user?hash='+encodeURIComponent(session);
                document.body.appendChild(scr);
            }
            else {
                localStorage.removeItem('gravatar');
            }
        }
    </script>

    <div class="book" data-level="{{ progress.current.level }}" data-basepath="{{ basePath }}" data-revision="{{ revision }}">
    {% include "includes/summary.html" %}
    <div class="book-body">
        <div class="body-inner">
            {% include "includes/header.html" %}
            <div class="page-wrapper" tabindex="-1">
                <div class="page-inner">
                {% block page_inner %}
                {% for section in content %}
                    <section class="{{ section.type }}" id="section-{{ section.id }}">
                    {% if section.type == "normal" %}
                        {% autoescape false %}{{ section.content }}{% endautoescape %}
                    {% elif section.type == "exercise" %}
                        {% include "./includes/exercise.html" with {section: section} %}
                    {% elif section.type == "quiz" %}
                        {% include "./includes/quiz.html" with {section: section} %}
                    {% endif %}
                    </section>
                {% endfor %}
                {% endblock %}
                </div>
            </div>
        </div>

        {% if progress.current.prev and progress.current.prev.path %}
        <a href="{{ basePath }}/{{ progress.current.prev.path|mdLink }}" class="navigation navigation-prev {% if !progress.current.next or !progress.current.next.path %}navigation-unique{% endif %}" aria-label="Previous page: {{ progress.current.prev.title }}"><i class="fa fa-angle-left"></i></a>
        {% endif %}
        {% if progress.current.next and progress.current.next.path %}
        <a href="{{ basePath }}/{{ progress.current.next.path|mdLink }}" class="navigation navigation-next {% if !progress.current.prev or !progress.current.prev.path %}navigation-unique{% endif %}" aria-label="Next page: {{ progress.current.next.title }}"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ staticBase }}/theme.js"></script>
<script src="{{ staticBase }}/app.js"></script>
{% for resource in plugins.resources.js %}
    {% if resource.url %}
    <script src="{{ resource.url }}"></script>
    {% else %}
    <script src="{{ staticBase }}/plugins/{{ resource.path }}"></script>
    {% endif %}
{% endfor %}
<script>
require(["gitbook"], function(gitbook) {
    var config = {% autoescape false %}{{ pluginsConfig }}{% endautoescape %};
    gitbook.start(config);
});
</script>
{% endblock %}

{% block style %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ staticBase }}/style.css">
<link rel="stylesheet" href="{{ staticBase }}/theme.css">
{% for resource in plugins.resources.css %}
    {% if resource.url %}
    <link rel="stylesheet" href="{{ resource.url }}">
    {% else %}
    <link rel="stylesheet" href="{{ staticBase }}/plugins/{{ resource.path }}">
    {% endif %}
{% endfor %}
{% endblock %}
