html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex: 0 0 300px;

  background-color: #fafafa;
  border-right: 1px solid #E8E8E8;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    ul ul {
      display: none;
    }

    li {
      &.depth-2 a { padding-left: 30px; }
      &.depth-3 a { padding-left: 45px; }
      &.depth-4 a { padding-left: 60px; }

      &.active {
        > ul {
          display: block;
        }
      }

      a {
        display: block;
        padding: 10px 15px;
        color: #364149;
        text-decoration: none;

        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &:hover {
          color: #2889CE;
        }

        &.current {
          color: #2889CE;

          background-color: white;
          border-top-color: #E8E8E8;
          border-bottom-color: #E8E8E8;
        }
      }
    }
  }
}

.content {
  flex: 1;
  max-width: 600px;

  padding: 20px 50px;
}

.highlight {
  padding: 1px 15px;
  overflow: auto;

  border: 1px solid darken(#f8f8f8, 8%);
  border-radius: 6px;
}

table {
  width: 100%;
  overflow: auto;

  border-spacing: 0;
  border-collapse: collapse;

  margin-bottom: 16px;
}

table th {
  font-weight: bold;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}