{% include header.html %}

    <div class="site__body">
        <div class="sidebar">
            {% include sidebar.html %}
        </div>

        <div class="content">
            <div class="scrollable">

                <button id="sidebar-toggle" class="sidebar-toggle" aria-hidden="true" aria-pressed="false" aria-controls="navigation"></button>

                <h1>{{ page.title }}</h1>

                {{ content }}

                <div class="documentation__support">
                    <h3>Still Need Help?</h3>
                    <p>Let our developers personally assist you. You can ask development related questions on our <a href="http://support.joomlatools.com/forums">Support Center</a>. Only for Business or Agency subscribers.</p>
                </div>
            </div>
        </div>
    </div>

{% include footer.html %}
